[submodule "repos/z.lua"]
	path = repos/z.lua
	url = git@github.com:skywind3000/z.lua.git
[submodule "repos/lastpass-cli"]
	path = repos/lastpass-cli
	url = git@github.com:lastpass/lastpass-cli.git
[submodule "repos/forgit"]
	path = repos/forgit
	url = git@github.com:wfxr/forgit.git
[submodule "repos/athame"]
	path = repos/athame
	url = git@github.com:ardagnir/athame.git
[submodule "repos/htop-vim"]
	path = repos/htop-vim
	url = git@github.com:KoffeinFlummi/htop-vim.git
[submodule "repos/PathPicker"]
	path = repos/PathPicker
	url = git@github.com:facebook/PathPicker.git
[submodule ".fzf"]
	path = .fzf
	url = git@github.com:junegunn/fzf.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "repos/st"]
	path = repos/st
	url = git@github.com:RobertKirk/st.git
[submodule "repos/zsh-interactive-cd"]
	path = repos/zsh-interactive-cd
	url = git@github.com:changyuheng/zsh-interactive-cd.git
[submodule "repos/zsh-vimode-visual"]
	path = repos/zsh-vimode-visual
	url = git@github.com:b4b4r07/zsh-vimode-visual.git
[submodule "repos/fancy-ctrl-z"]
	path = repos/fancy-ctrl-z
	url = git@github.com:mdumitru/fancy-ctrl-z.git
[submodule "repos/zsh-abbrev-alias"]
	path = repos/zsh-abbrev-alias
	url = git@github.com:momo-lab/zsh-abbrev-alias.git
[submodule "repos/pyenv"]
	path = repos/pyenv
	url = git@github.com:pyenv/pyenv.git
[submodule "repos/dwm-scripts"]
	path = repos/dwm-scripts
	url = git@github.com:killabytenow/dwm-scripts.git
[submodule "repos/dwm"]
	path = repos/dwm
	url = git@github.com:RobertKirk/dwm.git
[submodule "repos/betterlockscreen"]
	path = repos/betterlockscreen
	url = git@github.com:pavanjadhaw/betterlockscreen.git
[submodule "repos/i3lock-color"]
	path = repos/i3lock-color
	url = git@github.com:PandorasFox/i3lock-color.git
[submodule "repos/xbanish"]
	path = repos/xbanish
	url = git@github.com:jcs/xbanish.git
[submodule "repos/xkev"]
	path = repos/xkev
	url = git@github.com:vlaadbrain/xkev.git
[submodule "repos/xbmouse"]
	path = repos/xbmouse
	url = git@github.com:vlaadbrain/xbmouse.git
[submodule "repos/spt"]
	path = repos/spt
	url = git@github.com:pickfire/spt.git
[submodule "repos/clipnotify"]
	path = repos/clipnotify
	url = git@github.com:cdown/clipnotify.git
[submodule "repos/clipmenu"]
	path = repos/clipmenu
	url = git@github.com:cdown/clipmenu.git
