anki
at
bat
betterlockscreen
brew
curl
diff-so-fancy
dmenu
dunst
dwm
fd
feh
fira-code-nerdfont
firefox
fpp
fzf
gdm
git
i3lock
import
ipython
make
neomutt
node
nvim
postman
psql
python
python3
ranger
redshift
rg
sddm
slack
slock
slstatus
spicetify
spotify
spotifycli
ssh
st
tar
tldr
tmux
tmux-autocomplete
tty-clock
unzip
urlview
vlc
wget
wmctrl
xclip
xdotool
xfontsel
xinit
xmodmap
xsel
xsv
youtube-dl
zplug
zsh
