anki
at
bat
betterlockscreen
brew
clipmenu
clipmenud
clipnotify
ctags
curl
diff-so-fancy
dmenu
dunst
dwm
fd
feh
fira-code-nerdfont
firefox
fpp
fzf
git
i3
i3blocks
i3lock
import
ipython
jumpapp
kitty
make
neomutt
nnn
node
nvim
pgcli
postman
psql
python
python3
ranger
redshift
rg
sddm
slack
slstatus
spicetify
spotify
spotifycli
spt
ssh
st
tar
tldr
tmux
tmux-autocomplete
trayer
tty-clock
unzip
urlview
vlc
wget
wmctrl
xbanish
xbindkeys
xbmouse
xclip
xdotool
xfontsel
xinit
xkev
xmodmap
xsel
xsv
youtube-dl
z
zplug
zsh
