bat
curl
dmenu
dwm
fd
feh
fira-code-nerdfont
firefox
fpp
fzf
gdm
node
diff-so-fancy
git
make
neomutt
nvim
postman
psql
python
python3
ranger
rg
sddm
slack
slock
slstatus
spicetify
spotify
spotifycli
ssh
st
tar
tmux
unzip
urlview
vlc
wget
wmctrl
xclip
xdotool
xfontsel
xinit
xmodmap
xsel
youtube-dl
zplug
zsh
